{% extends 'base.html.twig' %}

{% block title %}Material index{% endblock %}

{% block body %}
    <h1>Materiais para Empréstimo</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Tipo</th>
                <th>Ativo</th>
                <th>Acões</th>
            </tr>
        </thead>
        <tbody>
        {% for material in materials %}
            <tr>
                <td>{{ material.codigo }}</td>
                <td>{{ material.tipo }}</td>
                <td>{{ material.ativo ? 'Sim' : 'Não' }}</td>
                <td>
                    <a href="{{ path('material_show', {'id': material.id}) }}"><span class="oi oi-eye"></span></a>
                    <a href="{{ path('material_edit', {'id': material.id}) }}"><span class="oi oi-pencil"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('material_new') }}" class="btn btn-success">Novo item</a>
{% endblock %}
