{% extends 'base.html.twig' %}

{% block title %}Material index{% endblock %}

{% block body %}
    <h1>Material index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ativo</th>
                <th>Codigo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for material in materials %}
            <tr>
                <td>{{ material.id }}</td>
                <td>{{ material.ativo ? 'Yes' : 'No' }}</td>
                <td>{{ material.codigo }}</td>
                <td>
                    <a href="{{ path('material_show', {'id': material.id}) }}">show</a>
                    <a href="{{ path('material_edit', {'id': material.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('material_new') }}">Create new</a>
{% endblock %}