{% extends 'base.html.twig' %}

{% block body %}


{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>


<table>

<tr>
{# sorting of properties based on query components #}
    <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
    <th{% if pagination.isSorted('a.Codigo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Codigo', 'a.codigo') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}</th>
</tr>

{# table body #}
{% for article in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
    <td>{{ article.id }}</td>
    <td>{{ article.codigo }}</td>
    {# <td>{{ article.date | date('Y-m-d') }}, {{ article.time | date('H:i:s') }}</td> #}
</tr>
{% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}
