{% extends 'base.html.twig' %}

{% block title %}Material{% endblock %}

{% block body %}
    <h1>Material</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Ativo</th>
                <td>{{ material.ativo ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Código</th>
                <td>{{ material.codigo }}</td>
            </tr>
            <tr>
                <th>Código de barra</th>
                <td><img src="data:image/png;base64,{{ barcode }}"></td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('material_index') }}" class='btn btn-success' >Voltar</a>
    <a href="{{ path('material_edit', {'id': material.id}) }}" class='btn btn-success'>Editar</a>
    
   <hr>
   <h2>Empréstimos concluídos</h2>

    <table class="table table-striped datatable">
        <thead>
        <tr>
            <th>Empréstimo</th>
            <th>Devolução</th>
            <th>Pessoa</th>
        </tr>
        </thead>

        <tbody>
            {% for emprestimo in emprestimos %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>

                <td>{{ emprestimo.dataEmprestimo|date('H:i:s (d/m/Y)') }}</td>
                <td>
                    {% if emprestimo.dataDevolucao %}
                        {{ emprestimo.dataDevolucao|date('H:i:s (d/m/Y)') }}
                    {% else %}
                        <b>Item ainda não devolvido</b>
                    {% endif %}
                </td>
                <td>
                    {% if emprestimo.visitante is empty %}
                        {% if replicado is not empty %}
                            {{ emprestimo.codpes }} - {{ replicado[emprestimo.codpes] }}
                        {% else %}
                            {{ emprestimo.codpes }}
                        {% endif %}
                    {% else %}
                        {{ emprestimo.visitante }} {{ emprestimo.visitante.email }} {{ emprestimo.visitante.telefone }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
