{% extends 'base.html.twig' %}

{% block title %}Visitantes{% endblock %}

{% block body %}
    <h1>Visitantes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for visitante in visitantes %}
            <tr>
                <td>{{ visitante.nome }}</td>
                <td>{{ visitante.telefone }}</td>
                <td>{{ visitante.email }}</td>
                <td>
                    <a href="{{ path('visitante_show', {'id': visitante.id}) }}"><span class="oi oi-eye"></span></a>
                    <a href="{{ path('visitante_edit', {'id': visitante.id}) }}"><span class="oi oi-pencil"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('visitante_new') }}" class="btn btn-success">Novo</a>
{% endblock %}
