{% extends 'base.html.twig' %}

{% block body %}
<div class="row">

    <div class="col-xs-12 col-md-8">

    <h1>Itens emprestados</h1>

    <table class="table table-striped datatable">
        <thead>
            <tr>
                <th>Código</th>
                <th>Tipo</th>
                <th>Data do empréstimo</th>
                <th>Pessoa</th>
                <th>Ver</th>
            </tr>
        </thead>
        <tbody>
        {% for emprestimo in emprestimos %}
            <tr>
                <td>{{ emprestimo.material.codigo }}</td>
                <td>{{ emprestimo.material.tipo }}</td>
                <td>{% if emprestimo.dataEmprestimo %}{{ emprestimo.dataEmprestimo|date('H:i:s (d/m/Y)') }}{% endif %}</td>

                <td>
                    {% if emprestimo.visitante is empty %}
                        {% if replicado is not empty %}
                            {{ emprestimo.codpes }} - {{ replicado[emprestimo.codpes] }}
                        {% else %}
                            {{ emprestimo.codpes }}
                        {% endif %}
                    {% else %}
                        {{ emprestimo.visitante }} {{ emprestimo.visitante.email }} {{ emprestimo.visitante.telefone }}
                    {% endif %}
                </td>
                <td> <a href="{{ path('emprestimo_show', {'id': emprestimo.id}) }}"><span class="oi oi-eye"></span></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</div>
{% endblock %}
