{% extends 'base.html.twig' %}

{% block body %}
    <br>
    {{ parent() }}
    <h1>Relatório de empréstimos</h1>

    <table class="table table-striped datatable">
        <thead>
            <tr>
                <th>Material</th>
                <th>Tipo</th>
                <th>Empréstimo</th>
                <th>Devolução</th>
                <th>Nº USP</th>
                <th>Nome</td>
                <th>E-mail</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody>
            {% for emprestimo in emprestimos %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>{{ emprestimo.dataEmprestimo|date('H:i:s (d/m/Y)') }}</td>
                <td>
                    {% if emprestimo.dataDevolucao %}
                        {{ emprestimo.dataDevolucao|date('H:i:s (d/m/Y)') }}
                    {% else %}
                        <b>Item ainda não devolvido</b>
                    {% endif %}
                </td>
                <td>
                    {% if emprestimo.visitante is empty %}
                        {{ emprestimo.codpes }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>                
                <td>
                    {% if emprestimo.visitante is empty %}
                        {% if replicado is not empty %}
                            {{ replicado[emprestimo.codpes][0] }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    {% else %}
                        {{ emprestimo.visitante }}
                    {% endif %}
                </td>
                <td>
                    {% if emprestimo.visitante is empty %}
                        {% if replicado is not empty %}
                            {{ replicado[emprestimo.codpes][1] }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    {% else %}
                        {{ emprestimo.visitante.email }}
                    {% endif %}
                </td>
                <td>
                    {% if emprestimo.visitante is empty %}
                        &nbsp;
                    {% else %}
                        {{ emprestimo.visitante.telefone }}
                    {% endif %}                
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
