<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title 'PUGX Autocompleter sandbox' %}</title>
        {% block stylesheets %}
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
            <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        <div class="container">
            {% for messageType in ['success', 'info', 'warning', 'danger'] %}
                {% for flashMessage in app.session.flashbag.get(messageType) %}
                    <div class="alert alert-{{ messageType }}">
                        <button class="close" data-dismiss="alert" type="button">&times;</button>
                        {{ flashMessage|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body '' %}
        </div>
        <footer>
            <div class="container">
                <p class="text-muted text-right">
                    <a href="https://github.com/PUGX/PUGXAutoCompleterBundle">PUGXAutoCompleterBundle</a> |
                    by <a href="https://massimilianoarione.it">Massimiliano Arione</a>
                </p>
            </div>
        </footer>
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
            <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
