{% extends '@UspdevBootstrapDashboard/base.html.twig' %}

{% block title %} {{ app_name }} {% endblock %}
{% block system_name %}  
    <img class='logo' src="{{  app_logo | default('http://www.imagens.usp.br/wp-content/uploads/USP-240x135.jpg') }}" width='120px' />
{% endblock %}

{% block search %}
  <span class="header"> {{ app_name }} </span>
{% endblock %}

{% block user %}
    {% if is_granted('ROLE_USER') %}
        <a class="btn btn-danger" href=" {{ path('logout') }}">logout</a>
    {% else %}
        <a class="btn btn-success" href=" {{ path('login') }}">login</a>
    {% endif %}
{% endblock %}

{% block sidebar %} 

{% if is_granted('ROLE_USER','ROLE_ADMIN') %}
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span>Empréstimos</span>
  <span class="d-flex align-items-center text-muted" data-feather="home">
  </span>
</h6>

<ul class="nav flex-column">  
    <li class="nav-item">
        <a class="nav-link active" href=" {{ path('emprestimo_devolucao')}}">
            <span data-feather="file"></span>
            Devolução
        </a>
    </li>           
    <li class="nav-item">
        <a class="nav-link" href="{{ path('emprestimo_usp') }}">
            <span data-feather="file"></span>
            Emprestar p/ Pessoa USP
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('emprestimo_visitante') }}">
            <span data-feather="file"></span>
            Emprestar p/ Visitante
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=" {{ path('visitante_index')}}">
            <span data-feather="file"></span>
           Gerenciar Visitantes
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=" {{ path('emprestimo_index')}}">
            <span data-feather="file"></span>
            Itens emprestados
        </a>
    </li>
</ul>
{% else%}
    <center>Faça login para ver as opções</center>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span>Administração</span>
  <span class="d-flex align-items-center text-muted" data-feather="home">
  </span>
</h6>

<ul class="nav flex-column">             
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('user_index') }}">
            <span data-feather="home"></span>
            Usuários do sistema
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=" {{ path('material_index')}}">
            <span data-feather="file"></span>
            Materiais
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=" {{ path('tipo_material_index')}}">
            <span data-feather="file"></span>
           Categorias
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=" {{ path('material_barcodes')}}">
            <span data-feather="file"></span>
           Códigos de Barras
        </a>
    </li>

</ul>
{% endif %}

{% endblock %}

{% block body %}

    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>   
    {% endfor %}

    {% for msg in app.session.flashBag.get('danger') %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>   
    {% endfor %}

    {% if form is defined %}
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.js"></script>
    <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-select2.js') }}"></script>
    <script src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script src="{{ asset('js/dataTables.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/visitante.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2-bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
{% endblock %}


