{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        <br />
        {{ form_row(form.password) }}

        {{ form_row(form.roles) }}

        <br />

        <button class="btn">{{ button_label|default('Salvar') }}</button>


    {{ form_end(form) }}

{% endblock %}
