{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <br />
    <h1>Usuários</h1>

    <table class="table table-striped datatable">
        <thead>
            <tr>
                <th>Username</th>
                <th>Nome</th>
                <th>Perfil</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>
                {% if replicado is not empty %}
                    {% if user.username matches '/^\\d+$/' %}
                        {{ replicado[user.username][0] }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                {% endif %}        
                </td>
                <td>
                {% if (user.roles|length > 1) %}
                    Balcão, Administrador do Sistema     
                {% else %}    
                    {% if (user.roles[0] == 'ROLE_USER') %}
                        Balcão
                    {% else %}
                        Administrador do Sistema
                    {% endif %}
                {% endif %}
                </td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"><span class="oi oi-eye"></span></a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><span class="oi oi-pencil"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn btn-success">Novo usuário</a>
{% endblock %}
